<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm" >

        <mat-form-field>
            <input 
            type="text" 
            name="title"
            ngModel
            matInput
            required
            placeholder="Add title"
            #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter title</mat-error>

        </mat-form-field>
        <mat-form-field>
            <textarea 
            rows="6" 
            name="content"
            ngModel
            matInput
            required
            placeholder="Add content"
            #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter content</mat-error>

        </mat-form-field>

        <button 
        type="submit" 
        mat-raised-button
        color="primary">
        Save Post
        </button>
        
    </form>
</mat-card>

